* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 40vh;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}
.card {
    cursor: pointer;
    position: relative;
}

.card.active > .front{
    transform: perspective(600px) rotateY(0deg);
}
.card.active > .back{
    transform: perspective(600px) rotateY(-180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .4s linear;
}

.front {
    background-color: red;
    transform: perspective(600px) rotateY(180deg);
}

.back {
    transform: perspective(600px) rotateY(0deg);
    background-color: #000;
}