* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #1d39b3;
    overflow: hidden;
}

.main {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.main__level {
    width: 20vh;
    max-width: 40vw;
    height: 20vh;
    max-height: 40vw;
    background-color: #3b90ff;
    border: 2px solid #7cb3fa;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 2.6rem;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: level-move 1s 2.4s both;
}

.header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.choice {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice__text {
    color: #fff;
    font-family: monospace;
    font-size: 2.4rem;
    animation: choice-text-move 1s 2s both;
}

.header__text {
    display: flex;
    font-size: 3.2rem;
    font-family: monospace;
    animation: header-move 1.4s .2s both;
}

.card {
    padding: .5rem 1rem;
    margin: .4rem;
    position: relative;
    width: 12vw;
    max-width: 120px;
    height: 12vh;
    max-height: 12vw;
}

.card.card--active > .card__front{
    transform: perspective(600px) rotateY(0deg);
}

.card.card--active > .card__back{
    transform: perspective(600px) rotateY(-180deg);
}

.card__back,
.card__front {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .4s linear;
    background-color: #3b90ff;
    border: 2px solid #7cb3fa;
    border-radius: 1rem;
}

.card__front {
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__back {
    transform: perspective(600px) rotateY(0deg);
}

@keyframes header-move {
    from {
        transform: translateY(-400%);
        opacity: 0;
    }
    to {transform: translateY(0);}
}

@keyframes choice-text-move {
    from {
        opacity: 0;
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes level-move {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {transform: translateY(0);}
}